<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/static/PythonLogo.png" alt="Python Logo" />
        <h1>Loops</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/loops">Loops</a></li>
                <li><a href="/operators">Operators</a></li>
            </ul>
        </nav>
    </header>
    {% for l in loops %}
    <div>
        <h3>{{l.name}}</h3>
        <p>{{l.description}}</p>
        <p><strong>Example: </strong>{{l.example}}</p>
        <p><strong>Uses</strong></p>
        <p>{{l.uses}}</p>

    </div>

    {% endfor %}
    
</body>
</html>